##############################################################################
# LOCALHOST.CFG - SAMPLE OBJECT CONFIG FILE FOR MONITORING THIS MACHINE
#
# Last Modified: 05-31-2007
#
# NOTE: This config file is intended to serve as an *extremely* simple 
#       example of how you can create configuration entries to monitor
#       the local (Linux) machine.
#
###############################################################################




###############################################################################
###############################################################################
#
# HOST DEFINITION
#
###############################################################################
###############################################################################

# Define a host for the local machine

define host{
        use                     linux-server            ; Name of host template to use
							; This host definition will inherit all variables that are defined
							; in (or inherited by) the linux-server host template definition.
        host_name               cpp-red
        alias                   cpp-red
        address                 <some url>
        }

define host{
        use                     linux-server            ; Name of host template to use
							; This host definition will inherit all variables that are defined
							; in (or inherited by) the linux-server host template definition.
        host_name               cpp-tnop
        alias                   cpp-tnop
        address                 <some url>
        }

###############################################################################
###############################################################################
#
# SERVICE DEFINITIONS
#
###############################################################################
###############################################################################


# Define a service to check HTTP on the local machine.
# Disable notifications for this service by default, as not all users may have HTTP enabled.

define service{
        use                             tendril-prod-service         ; Name of service template to use
        host_name                       cpp-red
        service_description             HTTP
		check_command					check_http
		notifications_enabled			1
        }

define service{
        use                             tendril-prod-service         ; Name of service template to use
        host_name                       cpp-red
        service_description             HTTPS
		check_command					check_http!-S -u /users/sign_in
		notifications_enabled			1
        action_url						/nagiosgraph/cgi-bin/showgroup.cgi?group=CPPHTTPS
        }

define service{
        use                             tendril-prod-service         ; Name of service template to use
        host_name                       cpp-red
        service_description             HTTPS-CERT
        check_command                   check_http!-S -C 14 -u /users/sign_in
        notifications_enabled           1
        }


define service{
        use                             tendril-prod-service         ; Name of service template to use
        host_name                       cpp-tnop
        service_description             HTTP
		check_command					check_http
		notifications_enabled			1
        }

define service{
        use                             tendril-prod-service         ; Name of service template to use
        host_name                       cpp-tnop
        service_description             HTTPS
		check_command					check_http!-S -u /<some path>/
		notifications_enabled			1
        action_url                      /nagiosgraph/cgi-bin/showgroup.cgi?group=CPPTNOPHTTPS
        }

define service{
        use                             tendril-prod-service         ; Name of service template to use
        host_name                       cpp-tnop
        service_description             HTTPS-CERT
        check_command                   check_http!-S -C 14 -u /<some path>/
        notifications_enabled           1
        }


define service{
        use                             tendril-prod-service         ; Name of service template to use
        host_name                       cpp-tnop
        normal_check_interval           5                       ; Check the service every 5 minutes under normal conditions
		max_check_attempts              2
        service_description             HTTPS-rest-tts-consumption
		check_command					check_http_rest!-u "<some url>" -a <some user>:<passwd> -S -p 443
        action_url                      /nagiosgraph/cgi-bin/showgroup.cgi?group=CPPHTTPS-rest-tts-consumption
		notifications_enabled		1
        }


define service {
        use                             tendril-prod-service         ; Name of service template to use
        service_description             CP PROD Selenium Account Detail And Ride Along check
        max_check_attempts              2
        host_name                       cpp-red
        check_command                   local_check_selenium!CPPRODSeleniumAccountDetailAndRideAlong
        notifications_enabled           0
        normal_check_interval           5                      ; Check the service every 10 minutes under normal conditions
}
